@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'DM Serif Display', serif;
}

body {
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    font-size: $font-size;
    box-sizing: content-box;
}

.dark-background-intro {
    background: url("../images/bg-pattern-intro-left-mobile.svg"),
    url("../images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-position-y: 0, 15rem;
    background-color: $dark-violet;
    
}

.font-light-gray {
    color: $very-light-gray;
}
