@use "./variables" as *;

@media (min-width: 1200px) {
    .intro {
        display: flex;
        flex-direction: row;        
        background-color: $dark-violet;
        height: 75vh;
        margin-bottom: 15rem;
        
        .intro-content {
            flex-direction: row-reverse;

            .intro-content__hero{
                transform: translate(-21%, 20%);
                padding-left: 2rem;
            }

            .intro-content__hero img {
                max-width: none;
                display: block;
            }            
        }

        .intro-slogan {
            align-items: flex-start;
            text-align: left;
            margin-left: 5rem;
            margin-right: 5rem;
            background: none;

            .intro-slogan__line {
                display: block;
                margin: 1rem 1rem 2rem 1rem;
            }

            .intro-slogan__title {
                font-size: 3rem;
            }

            .intro-slogan__description {
                text-align: justify;
                line-height: 1.2rem;
            }

            .intro-slogan__calltoaction {
                margin-left: 18px;
            }
        }
    
    }
    
    .intro::before {
        position: absolute;
        content: url('../images/bg-pattern-intro-left-desktop.svg');
        top: initial;
        bottom: -5rem;
        left: 0;
    }

    .intro::after {
        position: absolute;
        content: url('../images/bg-pattern-intro-right-desktop.svg');
        right: 0;
    }
    

    .perks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 6rem 0 6rem;

        .perks-line {
            display: block;
            opacity: .5;
            margin-right: 15rem;
        }
        
        .perk {
            align-items: start;
            
            .perk-description {
                padding: 0 3rem 0 0;
                text-align: justify;
            }
        }

        .perks-title {
            font-size: 3em;
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }

    .wework {
        padding-right: 5rem;
        padding-left: 5rem;
        background: url("../images/bg-pattern-how-we-work-desktop.svg") no-repeat top right;
        background-color: $dark-violet;
        
        .wework-title {
            text-align: left;
            max-width: 280px;
        }

        .wework-calltoaction {
            background: transparent;
        }
    }

    footer {
        padding: 0 5rem 0 5rem;
        background: url("../images/bg-pattern-footer-desktop.svg") no-repeat top left;
        background-color: $very-light-gray;

        .gray-line {
            margin-top: 0;
        }

        .socials {
            flex-direction: row;
            justify-content: space-between;
            background: none;
            padding-top: 3rem;
            padding-bottom: 2rem;
            .socials-brand {
                margin: 0;
            }
        }

        .other-pages {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            margin-bottom: 0;
            padding-bottom: 2rem;

            .links:nth-child(4){
                margin-right: 12rem;
            }
        }
    }
}
    



@media (min-width: 1440px) {
    html {
        font-size: 18px;
    }
}