@use "./variables" as *;

@media (min-width: 1200px) {
    .intro {
        display: flex;
        flex-direction: row;        
        background-color: $dark-violet;
        height: 75vh;
        margin-bottom: 15rem;
        
        .intro-content {
            flex-direction: row-reverse;

            .intro-content__hero{
                transform: translate(-21%, 20%);
                padding-left: 2rem;
            }

            .intro-content__hero img {
                max-width: none;
                display: block;
            }            
        }

        .intro-slogan {
            align-items: flex-start;
            text-align: left;
            margin-left: 5rem;
            margin-right: 5rem;
            background: none;

            .intro-slogan__line {
                display: block;
                margin: 1rem 1rem 2rem 1rem;
            }

            .intro-slogan__title {
                font-size: 3rem;
            }

            .intro-slogan__description {
                text-align: justify;
                line-height: 1.2rem;
            }

            .intro-slogan__calltoaction {
                margin-left: 18px;
            }
        }
    
    }
    
    .intro::before {
        position: absolute;
        content: url('../images/bg-pattern-intro-left-desktop.svg');
        top: initial;
        bottom: -5rem;
        left: 0;
    }

    .intro::after {
        position: absolute;
        content: url('../images/bg-pattern-intro-right-desktop.svg');
        right: 0;
    }
    

    .perks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 4rem 0 4rem;

        .perks-line {
            opacity: .5;
            margin-right: 15rem;
        }
        
        .perk {
            align-items: start;
            
            .perk-description {
                padding: 0 3rem 0 0;
                text-align: justify;
            }
        }

        .perks-title {
            font-size: 3em;
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 18px;
    }
}