@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
}

body {
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  box-sizing: content-box;
}

.dark-background-intro {
  background: url("../images/bg-pattern-intro-left-mobile.svg"), url("../images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-position-y: 0, 15rem;
  background-color: #2d2640;
}

.font-light-gray {
  color: #fafafa;
}

.view-plans {
  padding: 0.5rem 5rem 0.5rem 5rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #fafafa;
  background: #2d2640;
  letter-spacing: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
}
.navbar .hamburger {
  border: none;
  background: none;
}
.navbar .navbar-logo {
  align-self: center;
}
.navbar .navbar-links__desktop {
  display: none;
}

.navbar-dropdown {
  display: none;
}
.navbar-dropdown .dropdown {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 75vh;
  background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom right;
  background-size: contain;
  background-color: #2d2640;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.navbar-dropdown .dropdown .dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}
.navbar-dropdown .dropdown .dropdown-menu .dropdown-menu__item {
  margin-bottom: 2rem;
}

.intro .intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro .intro-content__hero img {
  max-width: 100%;
  display: block;
}
.intro .intro-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 1rem 4rem 1rem;
}
.intro .intro-slogan .intro-slogan__title {
  padding: 0 1rem 0 1rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.intro .intro-slogan .intro-slogan__description {
  padding: 0.5rem 1rem 0 1rem;
  line-height: 1.2rem;
}
.intro .intro-slogan .intro-slogan__calltoaction {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  border: 2px solid #fafafa;
  background: #2d2640;
}

.perks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.perks .perks-line {
  display: none;
}
.perks .perks-title {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}
.perks .perk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.perks .perk .perk-title {
  margin-bottom: 1rem;
  opacity: 0.75;
}
.perks .perk .perk-description {
  padding: 0 1.25rem 0 1.25rem;
  opacity: 0.5;
}
.perks .perk img {
  padding: 1.25rem 0 1.25rem 0;
}

.wework {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("../images/bg-pattern-how-we-work-mobile.svg") no-repeat top right;
  background-color: #2d2640;
  padding: 3.75rem 1.25rem 3.75rem 1.25rem;
  margin: 5rem 1.25rem 5rem 1.25rem;
}
.wework .wework-calltoaction {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  border: 2px solid #fafafa;
  background: #2d2640;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../images/bg-pattern-footer-mobile.svg") round;
  background-size: cover;
  padding: 4rem 1rem 0.75rem 1rem;
}
.socials .socials-brand {
  margin-bottom: 1.5rem;
}
.socials .socials-social img {
  margin-right: 0.5rem;
}

.gray-line {
  opacity: 0.5;
  margin: 1rem 1rem 2rem 1rem;
}

.other-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}
.other-pages .links {
  padding: 1rem 1rem 0 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.other-pages .links .links-title {
  margin: 0.75rem 0 1rem 0;
  color: #837d87;
  opacity: 0.7;
}
.other-pages .links .links-list {
  list-style-type: none;
}
.other-pages .links .links-list li {
  margin-bottom: 0.75rem;
}

@media (min-width: 1024px) {
  .navbar {
    padding: 1rem 3rem 1rem 3rem;
  }
  .navbar .hamburger {
    display: none;
  }
  .navbar .navbar-links__desktop {
    display: flex;
    display: flex;
    width: 30em;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: #837d87;
  }
  .navbar .navbar-links__desktop .navbar-button {
    background: #fafafa;
    border: 1px solid #2b272f;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 700;
    color: #2b272f;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }

  .wework {
    margin: 6rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .intro {
    display: flex;
    flex-direction: row;
    background-color: #2d2640;
    height: 65vh;
    margin-bottom: 15rem;
  }
  .intro .intro-content {
    width: 100vw;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .intro .intro-content .intro-content__hero {
    transform: translate(-21%, 26%);
    padding-left: 2rem;
  }
  .intro .intro-content .intro-content__hero img {
    max-width: none;
    display: block;
  }
  .intro .intro-slogan {
    align-items: flex-start;
    text-align: left;
    margin-left: 5rem;
    margin-right: 5rem;
    background: none;
  }
  .intro .intro-slogan .intro-slogan__line {
    display: block;
    margin: 1rem 1rem 2rem 1rem;
  }
  .intro .intro-slogan .intro-slogan__title {
    font-size: 3rem;
    width: 400px;
  }
  .intro .intro-slogan .intro-slogan__description {
    text-align: justify;
    line-height: 1.2rem;
    width: 532px;
  }
  .intro .intro-slogan .intro-slogan__calltoaction {
    margin-top: 2rem;
    margin-left: 18px;
  }

  .intro::before {
    position: absolute;
    content: url("../images/bg-pattern-intro-left-desktop.svg");
    top: initial;
    bottom: -5rem;
    left: 0;
  }

  .intro::after {
    position: absolute;
    content: url("../images/bg-pattern-intro-right-desktop.svg");
    right: 0;
  }

  .perks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 6rem 0 6rem;
  }
  .perks .perks-line {
    display: block;
    opacity: 0.5;
    margin-right: 15rem;
  }
  .perks .perk {
    align-items: start;
  }
  .perks .perk .perk-description {
    padding: 0 3rem 0 0;
    text-align: justify;
  }
  .perks .perks-title {
    font-size: 3em;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .wework {
    padding-right: 5rem;
    padding-left: 5rem;
    background: url("../images/bg-pattern-how-we-work-desktop.svg") no-repeat top right;
    background-color: #2d2640;
  }
  .wework .wework-title {
    text-align: left;
    max-width: 280px;
  }
  .wework .wework-calltoaction {
    background: transparent;
  }

  footer {
    padding: 0 5rem 0 5rem;
    background: url("../images/bg-pattern-footer-desktop.svg") no-repeat top left;
    background-color: #fafafa;
  }
  footer .gray-line {
    margin-top: 0;
  }
  footer .socials {
    flex-direction: row;
    justify-content: space-between;
    background: none;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  footer .socials .socials-brand {
    margin: 0;
  }
  footer .other-pages {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
  footer .other-pages .links:nth-child(4) {
    margin-right: 12rem;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
