@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
}

body {
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  box-sizing: content-box;
}

.dark-background-intro {
  background: url("../images/bg-pattern-intro-left-mobile.svg"), url("../images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-position-y: 0, 15rem;
  background-color: #2d2640;
}

.font-light-gray {
  color: #fafafa;
}

.view-plans {
  padding: 0.5rem 5rem 0.5rem 5rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #fafafa;
  background: #2d2640;
  letter-spacing: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
}
.navbar .hamburger {
  border: none;
  background: none;
}
.navbar .navbar-logo {
  align-self: center;
}

.navbar-dropdown {
  display: none;
}
.navbar-dropdown .dropdown {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 75vh;
  background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom right;
  background-size: contain;
  background-color: #2d2640;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.navbar-dropdown .dropdown .dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}
.navbar-dropdown .dropdown .dropdown-menu .dropdown-menu__item {
  margin-bottom: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro .intro-hero img {
  max-width: 100%;
  display: block;
}
.intro .intro-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 1rem 4rem 1rem;
}
.intro .intro-slogan .intro-slogan__title {
  padding: 0 1rem 0 1rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.intro .intro-slogan .intro-slogan__description {
  padding: 0.5rem 1rem 0 1rem;
  line-height: 1.2rem;
}
.intro .intro-slogan .intro-slogan__calltoaction {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  border: 2px solid #fafafa;
  background: #2d2640;
}

.perks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.perks .perks-title {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}
.perks .perk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.perks .perk .perk-title {
  margin-bottom: 1rem;
  opacity: 0.75;
}
.perks .perk .perk-description {
  padding: 0 1.25rem 0 1.25rem;
  opacity: 0.5;
}
.perks .perk img {
  padding: 1.25rem 0 1.25rem 0;
}

.wework {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("../images/bg-pattern-how-we-work-mobile.svg") no-repeat top right;
  background-color: #2d2640;
  padding: 3.75rem 1.25rem 3.75rem 1.25rem;
  margin: 5rem 1.25rem 5rem 1.25rem;
}
.wework .wework-calltoaction {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  border: 2px solid #fafafa;
  background: #2d2640;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../images/bg-pattern-footer-mobile.svg") round;
  background-size: cover;
  padding: 4rem 1rem 0.75rem 1rem;
}
.socials .socials-brand {
  margin-bottom: 1.5rem;
}
.socials .socials-social img {
  margin-right: 0.5rem;
}

.gray-line {
  opacity: 0.5;
  margin: 1rem 1rem 2rem 1rem;
}

.other-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}
.other-pages .links {
  padding: 1rem 1rem 0 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.other-pages .links .links-title {
  margin: 0.75rem 0 1rem 0;
  color: #837d87;
  opacity: 0.7;
}
.other-pages .links .links-list {
  list-style-type: none;
}
.other-pages .links .links-list li {
  margin-bottom: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
